{
    "$schema": "http://json.schemastore.org/prettierrc",
    "singleQuote": false,
    "trailingComma": "es5",
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "printWidth": 80,
    "arrowParens": "avoid"
}
